@font-face {
   font-family: font1;
   src: url(./Inter-Regular.woff2) format("woff2");
}
html {
  font-family: font1;
}
body{
  padding: 0;
  margin: 0;
}
#file_content{
  background: rgba(0,65,234);
  height:100%;
  width: 100%;
  color:white;
}
